@font-face {
    font-family: RobotoThin;
    src: url('../../assets/fonts/Roboto-Thin.woff2') format('woff2')
}

body {
    background-image: url('../../assets/images/camel.svg');
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.starfield {
    animation: 4s forwards ease-in fadein;
}

.in-game {
    animation: 1.5s forwards ease-out shift-container;
    transform: translateY(0);
}

.container {
    margin-top: 50vh;
    transform: translateY(-50%)
}

.subtitle,
.title {
    font-family: RobotoThin;
    color: #f0f0ff;
    text-align: center;
    margin: .25em
}

.title {
    font-size: 500%;
    animation: 6s infinite color-change, 1.75s ease-in-out fadein
}

.subtitle {
    font-size: 120%;
    animation: 3s ease-in-out fadein
}

.subtitle_2,
.title_2 {
    text-align: center;
    color: white;
    font-family: 'RobotoThin';
}


.footer,
.p {
    position: absolute;
    bottom: 0;
    color: #f0f0ff;
    font-family: RobotoThin;
}

.sound-controls {
    visibility: hidden;
    opacity: 0;
    filter: invert(1);
    transition: opacity 300ms ease-in, visibility 0ms ease-in 250ms;
    padding-right: 24px;

}

.sound-controls.shown {
    visibility: visible;
    opacity: 1;
    filter: invert(1);
    transition-delay: 0ms;
}

.settings_icon {
    filter: invert(1);
    padding: 5px;
    z-index: 1;
}

.help_icon {
    filter: invert(1);
    padding: 5px;
    z-index: 1;
}

.alert_icon {
    filter: invert(1);
    padding: 5px;
    z-index: 1;
}

.cloud_icon {
    filter: invert(1);
    padding: 5px;
    z-index: 1;
}

/* Generic visibility helpers used by JS */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in, visibility 0ms ease-in 200ms;
}

.shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease-out;
}


.debug_icon {
    filter: invert(1);
    padding: 5px;
}

.clock_icon {
    filter: invert(1);
    padding: 5px;
}

.redirect {
    padding: 5px 0;
    height: 125px;
    width: 300px;
    background-color: #525c5f;
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 1000;
    transform: scale(0);
    transition: 1s;
}

.redirect.shown {
    padding: 5px 0;
    height: inherit;
    width: 300px;
    background-color: #525c5f;
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 1000;
    transform: scale(1);
}

.rocket {
    position: absolute;
    height: 150px;
    width: inherit;
    left: 20vw;
    top: 70vh;
    mix-blend-mode: multiply;
    animation: 60s linear infinite rocket-orbit, 169s linear infinite rocket-wobble, 4s ease-in fadein;
    cursor: pointer;
}

@keyframes shift-container {
    from {
        margin-top: 50vh;
        transform: translateY(-50%);
    }

    to {
        margin-top: 0vh;
        transform: translateY(0);
    }
}

@keyframes color-change {

    0%,
    30% {
        color: #f0f0ff
    }

    20% {
        color: #b0b0bf
    }
}

@keyframes rocket-orbit {
    from {
        transform: rotate(360deg) translateX(100vh)
    }

    to {
        transform: rotate(0) translateX(100vh)
    }
}

@keyframes rocket-wobble {
    from {
        top: 50vh;
        left: 10vh
    }

    to {
        top: 90vh;
        left: 35vw
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

/* Game CSS */
#starfield {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

#gamecontainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#gamecanvas {
    width: 1200px;
    height: 800px;
}

#info {
    width: 100vw;
    font-family: RobotoThin;
    color: #f0f0ff;
    text-align: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    top: 50px;
    right: 10px;

    overflow: hidden;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1s 9.5s;
    animation: fadein 1s, fadeout 1s 9.5s;
}

@-webkit-keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 10px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        right: 10px;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        right: 10px;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}

#snackbar-timer {
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    transform-origin: left center;
    transform: scaleX(1);
}

#snackbar.show #snackbar-timer {
    animation: progress-deplete 9.5s linear forwards;
}

@keyframes progress-deplete {
    from {
        width: 250px;
    }

    to {
        width: 0px;
    }
}

table,
th,
td {
    /* border: 1px solid black; */
    margin: auto;
    /* padding: 5px; */
    text-align: center;
    color: white;
    font-family: RobotoThin;
}

tr.local-score td {
    background-color: yellow;
    color: black;
}

#localScoreBody td {
    text-transform: uppercase;
}
